{% extends 'base.html' %}
{% load static %}

{% block cssImport %}
<link rel="stylesheet" href="{% static 'CSS/index.css' %}">
{% endblock %}

{% block title %}
<title>Shelter Of Cats And Dogs</title>
{% endblock %}

{% block content %}
<div class="rov">
    <div class="col">
        <h1 class="text-center text-primary">{{ content.title }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <img class="main-img mt-4" src="{% static 'IMG/X-sbDKnenp4.jpg' %}" alt="pets">
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <p class="main-page-text border-primary">{{ content.page_text }}</p>
    </div>
    <div class="col-lg-6">
        <div class="mx-auto main-page-text contacts border-primary">
            <div class="contacts-wrapper">
                <p class=""><span class="font-weight-bold">Phone:</span> {{ content.phone_number }}</p>
                <p class=""><span class="font-weight-bold">e-mail:</span> {{ content.email }}</p>
            </div>
        </div>
        <div class="main-page-text border-primary contacts">
            <div class="contacts-wrapper">
                <p class="font-weight-bold">Adress:</p>
                <div class="adress">
                    <p>{{ content.location|linebreaks }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
