{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'CSS/main.css' %}">
    {% block cssImport %}
    {% endblock %}

    {% block title %}
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-fixed-top fixed-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item {{ HomeActive }}">
                        <a class="nav-link" href="/index/">Home</a>
                    </li>
                    <li class="nav-item {{ CatsActive }}">
                        <a class="nav-link" href="/cats/">Cats</a>
                    </li>
                    <li class="nav-item {{ DogsActive }}">
                        <a class="nav-link" href="/dogs/">Dogs</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0" method="post" action="/search/">
                    {% csrf_token %}
                    <input class="form-control mr-sm-2 bg-primary" type="search" name="search" placeholder="search"
                        aria-label="Search">
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="container page-content">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer class="page-footer bg-dark">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">2020</div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->

    <script src="{% static 'vendor/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static   'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>
